{% extends 'user/form.html' %}
{% block other_button %}
   <input id="send_code_two" type="button"  class="btn btn-submit btn-login " disabled="disabled" value="发送验证码" onclick="send()">
{% endblock %}
{% block script_picture %}
<script type="text/javascript">
    //判断邮箱是否合法
    $(function () {
                $("#id_forget_email").change(function () {
                    email=$('#id_forget_email').val();
                    var correct_email=/^\w{3,}(\.\w+)*@[A-z0-9]+(\.[A-z]{2,5}){1,2}$/;
                    if(email==''){
                        $("#id_forget_email").attr('placeholder','该字段不能为空');
                    }else{
                    if(correct_email.test(email)==false){
                        $('#tip').text('请输入合法的Email地址');
                        $('#send_code_two').addClass('disabled');
                        $('#send_code_two').attr('disabled',true)
                    }else  {
                        $('#tip').text('');
                        $('#send_code_two').removeClass('disabled');
                        $('#send_code_two').attr('disabled',false);
                    }}

                })
            });

    function send(){
        $("#tip").text('');
        var email=$("#id_forget_email").val();
        console.log(email)
        if(email==""){
            $("#tip").text('* 邮箱不能为空');
            return false;
        }
        //发送验证码
        $.ajax({
                url:"{% url 'send_verification_code' %}",
                type:"GET",
                data:{
                    'email':email,
                    'send_for':'forget_password_code'
                },
                cache:false,
                success:function (data) {
                    if(data['status']=='SUCCESS'){
                        layer.alert("验证码已发送至邮箱!")
                    }
                    if(data['status']!='SUCCESS'){
                    alert(data['status']);}
                }
            });
        //把按钮变灰
        $("#send_code_two").addClass('disabled');
        $("#send_code_two").attr('disabled',true);
        var time=30;
        $("#send_code_two").val(time+'s');
        var interval=setInterval(()=> {
            if(time<=0){
                clearInterval(interval);
                 $("#send_code_two").removeClass('disabled');
                 $("#send_code_two").attr('disabled',false);
                 $("#send_code_two").val('发送验证码');
                 return false;
            }
            time--;
            $("#send_code_two").val(time+'s');
        },1000);
    }

    $('#submit_forget_form').submit(function () {
        event.preventDefault()
       $.ajax(
        {
             url:"{% url 'forget_password' %}",
                type:"POST",
                data:$("#send_code_two").serialize(),
                cache:false,
                success:function (data) {
                    if(data['status']=='ERRORS'){
                    alert(data['status']);}
                }
        }
    )
    })


</script>
{% endblock %}