{% extends 'blog2.html' %}
{% load staticfiles %}
{% block one%}{% endblock %}
{% block center_content %}
<div class="banner-area banner-three">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="banner-content" style="padding-top: 0px">
							<div class="banner-title white">
								<h1>宇航员的个人博客</h1>
							</div>
							<div class="banner-subtitle white ">
								<h2>关于我们</h2>
							</div>
							<div class="banner-info ">
                                <h4 >博客的诉求:</h4>
								<p>&nbsp;&nbsp;&nbsp;个人博客网站作为互联网不可或缺的一股力量,服务对象广泛,博客网凭借独创且到位的推广、贴心且给力的体验正在增加人们的认知； 本网站主要分享个人技术知识经验，请用户绿色评论，积极合作讨论！</p>
							    <h4 >本网站在做什么:</h4>
                                <p>&nbsp;&nbsp;&nbsp;该网站命名为"宇航员的博客",是因为博主相当一名宇航员吗。当然不是的，作为90后的我，曾经看过一个关于“喜之郎果冻”的广告，其中一个小男孩的说自己长大了相当太空人。那时还很小的我
                                便在心底认为自己长大了也要当宇航员。随着都不同的书，看不同的电影，接触不同的人，经历不同的事，我发现我的梦想在一直改变，并不是要当一名宇航员。所以要问我：为啥还和“宇航员”执着呢。在我心中，慢慢的认为“宇航员象征着梦想。
                                可是又未知，不该再沉浸在过去，即使未来遥远迷茫，也得，向前走--进步，提高，丰富。本博客不只是我梦想的能量站，也将会是你们每一位梦想的能量站。
                                我的个人博客将分享我所看过的每一个电影，每一本书籍，每一位人物，每一件事情。我们可以在“宇航员的个人博客”上相互分享，相互分享。
                                当你幸福时上来瞧瞧，当你难过沮丧时，上来走走，当你孤独时，上来倾诉。我们互相丰富各自的人生，互相给予各自的精神食粮--进步，提高，丰富。期待您们的加入！</p>
                                <h4 >最后:</h4>
                                    <p>&nbsp;&nbsp;&nbsp;这就是我的个人博客网站,是我个人项目开始的地方,在"宇航员的博客"的蓝图里,除了分享技术知识经验,还将继续开发扩大本博客网站!</p>
                                <hr>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
{% block script_picture %}{% endblock %}